body {
  background-color: #000000;
  max-height: 100%;
  max-width: 100%;
}
section {
  background-image: linear-gradient(83deg, #000000 86%, #23066a 100%);
}
*::-webkit-scrollbar {
  display: none;
  max-width: 100%;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.demo-text {
  color: aliceblue;
}
