@font-face {
  font-family: "CyberFont";
  src: url("../Assets/cyberFont.ttf") format("truetype");
}
.logo-heading {
  font-family: "CyberFont";
}

.navbar {
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 70px;
}
.nav-cart-count {
  width: 20px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  margin-left: -40px;
  font-size: 14px;
  color: rgb(255, 255, 255);
}
@media (max-width: 1020px) {
  .nav-cart-count {
    display: none;
  }
}
